<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Screening Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>AI Resume Screening Assistant</h1>

    <p>Upload your Resume (PDF/DOCX) or paste your resume text, then enter the Job Description.</p>

    <form action="/analyze" method="POST" enctype="multipart/form-data">

        <label for="resume">
            Upload Resume (PDF or DOCX)
        </label>

        <input
            type="file"
            id="resume"
            name="resume"
            accept=".pdf,.docx"
        >

        <p class="or-text">OR</p>

        <label for="resume_text">
            Paste Resume Text
        </label>

        <textarea
            id="resume_text"
            name="resume_text"
            rows="10"
            placeholder="Paste your complete resume here..."
        ></textarea>

        <br><br>

        <label for="job_description">
            Job Description
        </label>

        <textarea
            id="job_description"
            name="job_description"
            rows="10"
            placeholder="Paste Job Description here..."
            required
        ></textarea>

        <br><br>

        <button type="submit">
            Analyze Resume
        </button>

    </form>

</div>

</body>
</html>